.contenedor{
    width: 80%;
    margin: auto;
    margin-top: 5%;
}

.contenedor .nombre{
    margin-bottom: 3%;
}

.contenedor .nombre h2{
    font-size: 40px;
}

.contenedor .caja{
    width: 100%;
    display: flex;
    margin-bottom: 2%;
}

.contenedor .caja .img{
    width: 30%;
    text-align: center;
}

.contenedor .caja .info{
    width: 70%;
    padding: 1%;
    padding-left: 5%;
}

.contenedor .caja .img img{
    width: 100%;
}

.contenedor .caja .info .precio{
    padding: 1%;
    margin-top: 5%;
    margin-bottom: 1%;
}

.contenedor .caja .info .stock{
    padding: 1%;
}

.contenedor .caja .info .descripcion{
    display: flex;
    margin-bottom: 1%;
}

.contenedor .caja .info .descripcion h2{
    margin: 1%;
}

.contenedor .caja .info .descripcion p{
    padding: 1.9%;
    text-align: justify;
    font-size: 20px;
}

.contenedor .caja .info .comprar{
    padding: 1%;
    text-align: right;
}

.contenedor .caja .info .comprar a{
    padding: 2%;
    border: 2px solid gray;
    color: gray;
}

.regresar{
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.regresar a{
    color: black;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    border-bottom: 2px solid black;
}